
.search {
    &__tools {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-bottom: var(--base-padding);

        gap: var(--base-padding);
    }

    &__field {
        width: 300px;
        
        padding: var(--small-padding) var(--base-padding);
        border-radius: 20px;

        color: var(--default-text-white);
        background-color: var(--gray);

        &::placeholder {
            color: inherit;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--base-padding);
    
        color: var(--text-primary);
    }   

    @media screen and (max-width: 500px) {
        &__field {
            width: 100%;
        }
    }
}